{% extends 'user_base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container">
<h1>Корзина</h1>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Книга</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Цена за шт.</th>
        <th scope="col">Цена всего</th>
        <th scope="col">..</th>
        </tr>
    </thead>
    <tbody>
{% for product in object.products_in_cart.all %}
        <tr>
        <th scope="row">{{ product.pk }}</th>
        <td>{{ product.product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.price_total }}</td>
        <td>
            <a href="{% url 'cart:delete' product.pk %}?next=/cart/view/" class="btn btn-danger btn-small"><i class="fas fa-trash"></i></a>
            <a href="{% url 'cart:add-product-to-cart' product.product.pk %}?next=/cart/view/" class="btn btn-success btn-small"><i class="fas fa-edit"></i></a>
        </td>
        </tr>
{% endfor %}
        <tr>
            <th scope="row" colspan="2">Итого:</th>
            <th scope="row" colspan="2">{{ object.products_in_cart_count }} шт.</th>
            <th scope="row" colspan="2">{{ object.total_price }} BYN</th>
        </tr>
    </tbody>
    </table>
    {% if object.products_in_cart_count > 0 %}
        <div class="card bg-light border-primary mb-3">
            <h5 class="card-header border-primary">Оформить заказ</h5>
                <form action="{% url 'orders:check-out' %}" method="POST" class="card-body">
                    {% csrf_token %}
                    <h5 class="card-title">* - обязательны для заполнения</h5>
                    <p class="card-text">{{ form|crispy }}</p>
                    <button class="btn btn-danger btn-block" type="submit">Оформить заказ</button>
                </form>
        </div>
    {% endif %}
{% endblock body %}