{% extends "shablon.html" %}

{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>

   <form action="" method="POST">
               {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="изменить" >
    </form>

{% endblock %}