{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список серий</h1>

<p> <a href="{% url 'create_serie' %}">Добавить</a></p>

<table>
   {% for val_serie in object_list  %}
<tr>
    <td><p>{{val_serie.name}} </p></td>
    <td><p>{{val_serie.description}}</p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_serie' val_serie.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_serie' val_serie.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_serie' val_serie.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
