.account-form
    .d-block
        .d-inline.wform__label--required
        .d-inline  required fields
    .account-form__item
        .account-form__header Your Profile
        .account-form__item-wrap
            form.account-form__form([formGroup]="accountForm", (submit)="updateProfile()")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required First name
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['first_name']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This information is required!') ? 'This field is required': error}}
                            input.wform__input(type="text", formControlName="first_name", [ngModel]="user?.first_name", [ngClass]="{'input-error': dLen(accountFormError['first_name'])}")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Last name
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['last_name']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This information is required!') ? 'This field is required': error}}
                            input.wform__input(type="text", formControlName='last_name' , [ngModel]="user?.last_name", [ngClass]="{'input-error': dLen(accountFormError['last_name'])}")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Company name
                        .col-6
                            input.wform__input(formControlName='company_name' , [ngModel]="user?.company_name")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Address line 1
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['address_line_one']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This field may not be blank.') ? 'This field is required': error}}
                            input.wform__input(type="text", formControlName="address_line_one", [ngModel]="user?.address_line_one", [ngClass]="{'input-error': dLen(accountFormError['address_line_one'])}")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Address line 2
                        .col-6
                            input.wform__input(type="text", formControlName="address_line_two", [ngModel]="user?.address_line_two")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required City / Town
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['city']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This field may not be blank.') ? 'This field is required': error}}
                            input.wform__input(type="text", formControlName="city", [ngModel]="user?.city", [ngClass]="{'input-error': dLen(accountFormError['city'])}")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Region / State
                        .col-6
                            input.wform__input(type="text", formControlName="province_state", [ngModel]="user?.province_state")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Postcode / ZIP
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['postcode']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This field may not be blank.') ? 'This field is required': error}}
                            input.wform__input(type="text", formControlName="postcode", [ngModel]="user?.postcode", [ngClass]="{'input-error': dLen(accountFormError['postcode'])}")
                //.wform__item
                //    .row
                //        .col-4.text-right
                //            label.wform__label.wform__label--inline Region
                //        .col-6
                //            .wform__item(*ngFor="let error of accountFormError['region']")
                //                .wform__input-wrap
                //                    ngb-alert(type="danger", [dismissible]="false") {{error}}
                //            select.wform__input(formControlName='region', [ngModel]="user?.region")
                //                option(value="") Select Region
                //                option(*ngFor="let region of availableRegions", [ngValue]="region?.id") {{region?.name}}
                            //input.wform__input(formControlName='region' , [(ngModel)]="user.region")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Country
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['country']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This field may not be null.') ? 'This field is required': error}}
                            select.wform__input.select-padding(formControlName='country', [ngModel]="user?.country", (change)="onCountryChange()", [ngClass]="{'input-error': dLen(accountFormError['country'])}")
                                option(value="") Select Country
                                option(*ngFor="let country of availableCountries", [ngValue]="country?.iso") {{country?.name}}
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Phone
                        .col-6
                            .wform__item(*ngFor="let error of accountFormError['phone']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{(error === 'This field may not be blank.') ? 'This field is required': error}}
                            input.wform__input(formControlName='phone', [ngModel]="user?.phone", placeholder='e.g. +44 (0) 20 1234 5678', [ngClass]="{'input-error': dLen(accountFormError['phone'])}")
                            .wform__item.phone-notice
                                .wform__input-wrap
                                    .notice Please include any international dialing codes
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Email
                        .col-6
                            input.wform__input(formControlName='email' , [ngModel]="user?.email")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Skype
                        .col-6
                            input.wform__input(formControlName='skype' , [ngModel]="user?.skype")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Description
                        .col-6
                            textarea.wform__textarea(formControlName='company_description' , [ngModel]="user?.company_description")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline VAT
                        .col-6
                            input.wform__input(formControlName='vat', [ngModel]="user?.vat" placeholder='e.g. GB-123-4567-89')
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            input(formControlName='is_mailing_list', type="radio", [value]="true",  [ngModel]="user?.is_mailing_list", [checked]="user?.is_mailing_list==true")
                            label.radio_is_mailing_list Yes
                            input(formControlName='is_mailing_list', type="radio", [value]="false", [ngModel]="user?.is_mailing_list", [checked]="user?.is_mailing_list==false")
                            label.radio_is_mailing_list No
                            //input.wform__input.wform__input--checkbox(formControlName='is_mailing_list', type="checkbox", [ngModel]="user?.is_mailing_list", (change)="user.is_mailing_list = !user.is_mailing_list")
                        .col-6
                            label.wform__label Please let us know if you would like to receive the latest machines on offer from our members
                .wform__item
                    .row
                        .col-5.col-md-4.text-right

                        .col-xs-4.col-sm-4.col-md-3.col-lg-2
                            button.wbtn.wbtn--small.wbtn--blue(type='submit') Update

    .account-form__item
        .account-form__header Security
        .account-form__item-wrap
            form.account-form__form([formGroup]="securityForm", (submit)="updatePassword()")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.account-form__item-label Change your password
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Old Password
                        .col-6
                            .wform__item(*ngFor="let error of securityFormError['old_password']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{error}}
                            input.wform__input(type="password", formControlName="old_password")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline New Password
                        .col-6
                            .wform__item(*ngFor="let error of securityFormError['new_password']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{error}}
                            input.wform__input(type="password", formControlName="new_password")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Confirm New Password
                        .col-6
                            .wform__item(*ngFor="let error of securityFormError['repeat_password']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{error}}
                            input.wform__input(type="password", formControlName="repeat_password")
                .wform__item
                    .row
                        .col-5.col-md-4.text-right

                        .col-xs-4.col-sm-4.col-md-3.col-lg-2
                            button.wbtn.wbtn--small.wbtn--blue(type="submit") Save

    .account-form__item
        .account-form__header Preferred settings
        .account-form__item-wrap
            form.account-form__form([formGroup]="preferredSettingsForm", (submit)="updatePreferredSettings()")
                //.wform__item
                //    .row
                //        .col-4.text-right
                //            label.wform__label.wform__label--inline Language
                //        .col-6
                //            select.wform__input(formControlName='language', [ngModel]="user?.language")
                //                option(*ngFor="let language of languages", [ngValue]="language?.value") {{language?.title}}
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline.wform__label--required Currency
                        .col-6
                            .wform__item(*ngFor="let error of preferredSettingsFormError['currency']")
                                .wform__input-wrap
                                    ngb-alert(type="danger", [dismissible]="false") {{error}}
                            select.wform__input(formControlName='currency', [ngModel]="user?.currency", required=true, [ngClass]="{'input-error': dLen(preferredSettingsFormError['currency'])}")
                                option(*ngFor="let currency of currencies", [ngValue]="currency?.value") {{currency?.title}}
                .wform__item
                    .row
                        .col-5.col-md-4.text-right
                            label.wform__label.wform__label--inline Time zone
                        .col-6
                            select.wform__input(formControlName='timezone', [ngModel]="user?.timezone")
                                option(*ngFor="let timezone of timeZones", [ngValue]="timezone?.value") {{timezone?.title}}
                .wform__item
                    .row
                        .col-5.col-md-4.text-right

                        .col-xs-4.col-sm-4.col-md-3.col-lg-2
                            button.wbtn.wbtn--small.wbtn--blue(type="submit") Save


//.settings_note Welcome to the website! To be able to post adverts and communicate with the people please upload your picture and fill the required information in the form below this message.
//.settings_block
//    form((submit)="updateProfile()")
//
//        .row.settings_item
//            .col-md-4 Address
//            .col-md-8
//                select.form-control(name="region", [(ngModel)]="user.region", (change)="selectRegion()" placeholder="Region")
//                    option(value="", disabled, selected) Select Your Region
//                    option(*ngFor="let region of regions", [ngValue]="region.id") {{region.name}}
//                select.form-control(name="country", [(ngModel)]="user.country")
//                    option(value="", selected) Select Your Country
//                    option(*ngFor="let country of selectedRegion.countries", [ngValue]="country.iso") {{country.name}}
//
//        .row.settings_item
//            .col-md-4 Phone
//            .col-md-8
//                input(type="phone", placeholder="Phone", name="phone", [(ngModel)]="user.phone").form-control
//
//        .row.settings_item
//            .col-md-4 Skype
//            .col-md-8
//                input(type="text", placeholder="Skype", name="skype", [(ngModel)]="user.skype").form-control
//
//        .row.settings_item
//            .col-md-4 Company
//            .col-md-8
//                input(type="text", placeholder="Company", name="company", [(ngModel)]="user.company").form-control
//
//        .row.settings_item
//            .col-md-4 Company description
//            .col-md-8
//                textarea(placeholder="Company description (this appears on advert)", name="company_description", [(ngModel)]="user.company_description").form-control
//
//        .row.settings_item
//            .col-md-4 Language
//            .col-md-8
//                select.form-control
//
//        .row.settings_item
//            .col-md-4 Currency
//            .col-md-8
//                select.form-control
//
//        .row.settings_divider-head Change the password
//
//        .row.settings_item
//            .col-md-4 Old password
//            .col-md-8
//                input(type="text", placeholder="Old password", name="old_password").form-control
//
//        .row.settings_item
//            .col-md-4 New password
//            .col-md-8
//                input(type="text", placeholder="New password", name="new_password1").form-control
//
//        .row.settings_item
//            .col-md-4 Repeat new password
//            .col-md-8
//                input(type="text", placeholder="Repeat new password", name="new_password2").form-control
//
//        .row.settings_buttons
//            .btn.btn-info Cancel
//            .btn.btn-success(type="submit") Update

