
.page__meta
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['/']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item Messages
    .conversation-list([ngClass]="{'no-messages-block': !resultCounter}")
        .page__meta-item.page__meta-item--colored
            .row
                .col-12.col-xs-12.col-sm-12.col-md-4.col-lg-4
                    .page__meta-title
                        select.wform__input([(ngModel)]="filter", (change)="onChangeFilter($event)")
                            option(*ngFor="let param of filterParams", [value]="param.value") {{param.name}}
                .col-8
                    ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
                        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last
        .conversation-list__wrap
            preloader-component([showStatus]="preloader")
            br(*ngIf="!resultCounter")
            ngb-alert(type="info", [dismissible]="false", *ngIf="!resultCounter") You do not have any {{filter}} messages
            .conversation-list__item(*ngFor="let item of conversations; let i = index", [ngClass]="{'conversation-list__item--even': i%2 != 0}")
                .conversation
                    .row
                        .col-5.col-md-2.text-md-center
                            .conversation__ava.ml-3.ml-md-0
                                img.conversation__ava-img([src]="item?.recipient.photo_thumb", data-avatar)
                        .col-7.col-md-2
                            .conversation__name {{item?.recipient.public_name}}
                            .conversation__date {{item?.last_message?.days_ago}}
                            .conversation__location {{item?.recipient.location? item?.recipient.location.split(',').pop():''}}
                        .col-5
                            .conversation__text.ml-3.ml-md-0([ngClass]="{'conversation__text--active': !item?.read}",(click)="readConversation(item)", [routerLink]="['/account/messages', item?.id]") {{item?.last_message?.text |truncate:['120']}}
                            .conversation__theme.ml-3.ml-md-0(*ngIf="item?.advert", [routerLink]="['/account/messages', item?.id]") {{item?.advert.machine_name}}
                            .conversation__theme.ml-3.ml-md-0(*ngIf="!item?.advert && item?.wanted_advert") WANTED: {{ item?.wanted_advert.name }}
                        .col-7.col-md-3.col-lg-3
                            .row
                                .col-6.text-md-right
                                    .conversation__ctrl(*ngIf="user && item?.archived_by.indexOf(user.id) == -1", (click)="archiveConversation(item)")
                                        .fa.fa-download.mr-2
                                        | Archive
                                .col-6.text-md-right
                                    .conversation__ctrl(*ngIf="user && item?.starred_by.indexOf(user.id) == -1", (click)="starredConversation(item)")
                                        .fa.fa-star-o.mr-2
                                        | Star
                                    .conversation__ctrl.active(*ngIf="user && item?.starred_by.indexOf(user.id) > -1", (click)="starredConversation(item, 'remove')")
                                        .fa.fa-star.mr-2
                                        | Star
                            .row
                                .col-12.text-md-right
                                    .conversation__status(*ngIf="getStatusMessage(item) === 'Replied'") Replied
                                    .conversation__status(*ngIf="getStatusMessage(item) === 'Read'") Read
                                    .conversation__status.active(*ngIf="getStatusMessage(item) === 'Unread'") Unread
                                    .conversation__status(*ngIf="getStatusMessage(item) === 'Sent'") Sent

    .pagination
        ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
            li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

