{% extends "shablon.html" %}

{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>

<p> Вы действительно хотите удалить?</a></p>
   <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="удалить" >
    </form>


{% endblock %}