{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Подробно об издательстве книги</h1>

<table>

<tr>
    <td><p style="bold;"><b>Издательство: </b></p>{{object.name}}</td>
    <td><p style="bold;"><b>Описание: </b></p>{{object.description}}</td>

</tr>
</table>
{% endblock %}
